<h1><%= @post.topic %></h1>
<p><%= @post.category.name %></p>
<p><%= @post.content %></p>

<%= form_for [@post, @comment] do |f| %>
    <p>
      <%= f.text_area :content %>
    </p>
    <%= f.submit %>
<% end %>

<h3>所有留言</h3>

<% @post.comments.each do |c| %>
  <p>
    <%= c.content %>
    <% if c.user == current_user %>
    <%= link_to  '刪除', post_comment_path(@post, c), :method => :delete %>
    <% end %>
  </p>
<% end %>

<%= link_to '回到首頁', posts_path %>